.sidebar {
  width: 220px;
  height: 100vh;
  background: var(--white);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #E0E1E1;
}

.logo h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.logo span {
  font-size: 16px;
  color:var(--mint);
  font-weight: 500;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Outline Buttons */
.btn-outline {
  background:var(--white);
  border: 2px solid var(--mint);
  color: #000;
}

.btn-outline:hover {
  background: var(--light-mint);
}

/* Primary (Mint Filled) */
.btn-primary {
  background: var(--mint);
  color: white;
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

/* Danger */
.btn-danger {
  background: var(--light-red);
  border: none;
  color: #000;
}

.btn-danger:hover {
  opacity: 0.9;
}

.bottom-buttons {
  margin-top: auto;
}